extends layouts/main
include mixins/videoBlock

block content
  .videos
    h1 Video
    each video in videos
      +videoBlock({
        title: video.title,
        views: video.views,
        videoFile: video.videoFile
      })
      //- h1 #{video.title}
      //- p #{video.description}
      //- h1= video.title과 같다