extends layouts/main
include mixins/videoBlock

block content
  .home-videos
    each video in videos
      +videoBlock({
        id: video.id,
        title: video.title,
        views: video.views,
        videoFile: video.fileUrl
      })
      //- h1 #{video.title}
      //- p #{video.description}
      //- h1= video.title과 같다
      
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })
      //- +videoBlock({
      //-   id: video.id,
      //-   title: video.title,
      //-   views: video.views,
      //-   videoFile: video.fileUrl
      //- })