.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
  }
  // 이해가 안간다 작았는데 커지고
  button {
    float: right;
    width: 100px;
    margin-bottom: 25px;
  }
  .video__author {
    a {
      color: #3498db;
      font-weight: 600;
    }
  }
  .video__title,
  .video__views,
  .video__description {
    margin-bottom: 20px;
    display: block;
  }
  .video__title {
    font-size: 25px;
    font-weight: 600;
  }
  .video__views {
    font-size: 13px;
  }
  .video__description {
    font-size: 18px;
    font-weight: 400;
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 20px;
    }
  }
  .video__comments-list {
    margin-top: 40px;
    li {
      background-color: #3498db;
      color: white;
      padding: 10px 0;
      border-radius: 30px;
      border-bottom-left-radius: 0;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
