@charset "UTF-8";
.u-avatar {
  height: 80px;
  background-color: #ea232c;
  border-radius: 50%; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  box-sizing: border-box; }

input {
  border: none;
  box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh; }

button,
input:not([type='file']),
textarea,
.fileUpload {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 320px;
  border: none;
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #444;
  background-color: white;
  font-weight: 600;
  resize: none; }
  button::placeholder,
  input:not([type='file'])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button,
input[type='submit'] {
  cursor: pointer; }

a:visited {
  color: currentColor; }

.header {
  background-color: #ea232c;
  margin-bottom: 50px; }
  .header .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
    .header .header__wrapper .header__column i {
      color: white;
      font-size: 30px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: flex;
      color: white;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        max-width: none;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600; }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.3); }
    .header .header__wrapper .header__column a:visited {
      text-decoration: none;
      color: white; }

.footer {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  margin-bottom: 15px; }

.footer__text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 650;
  text-transform: uppercase; }

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px; }
    .form-container form input:not([type='file']),
    .form-container form .fileUpload {
      display: block;
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      .form-container form input:not([type='file']):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form input[type='submit'] {
      background-color: #00cec9;
      color: white; }
    .form-container form input[type='file'] {
      box-shadow: none; }
    .form-container form textarea {
      margin-bottom: 25px; }
  .form-container a {
    max-width: 320px;
    width: 100%; }
  .form-container .fileUpload label {
    font-weight: 700;
    margin-right: 8px; }

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .social-login .social-login--github {
    background-color: #444;
    margin-bottom: 20px; }
  .social-login .social-login--facebook {
    background-color: #0984e3; }
  .social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    color: white;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .social-login button span {
      margin-right: 5px;
      font-size: 20px; }

.videoBlock video {
  max-width: 100%;
  margin-bottom: 10px; }

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 10px; }

.videoBlock .videoBlock__views {
  font-size: 13px; }

.videoPlayer {
  width: 850px;
  height: 547px;
  position: relative; }
  .videoPlayer:hover .videoPlayer__controls {
    opacity: 1; }
    .videoPlayer:hover .videoPlayer__controls i {
      font-size: 16px;
      cursor: pointer; }
  .videoPlayer video {
    width: 100%;
    max-width: 100%; }
  .videoPlayer .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    position: relative;
    z-index: 10;
    color: white;
    font-size: 16px;
    font-weight: 500;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:first-child {
      margin-right: 10px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:nth-child(2) {
      position: relative; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:nth-child(2):hover i {
      padding-right: 10px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:nth-child(2):hover .volume-bar {
      display: inline;
      opacity: 1; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:last-child {
      justify-self: end; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:nth-child(2) {
      justify-self: center; }
    .videoPlayer .videoPlayer__controls .volume-bar {
      display: none;
      position: absolute;
      padding: 0;
      opacity: 0;
      transition: opacity 0.4s linear;
      width: 80px;
      height: 6px;
      left: 23px;
      top: 6px;
      background-color: transparent;
      /* Chrome에서 투명하게 출력 */
      -webkit-appearance: none;
      /* 기본슬라이드 숨기기*/ }
      .videoPlayer .videoPlayer__controls .volume-bar:focus {
        outline: none; }
      .videoPlayer .videoPlayer__controls .volume-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* 기본슬라이드 숨기기*/
        background-color: #ea232c;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        position: relative;
        top: -3.6px; }
      .videoPlayer .videoPlayer__controls .volume-bar::-webkit-slider-runnable-track {
        position: relative;
        width: 100%;
        height: 5px;
        border-radius: 3px;
        background-color: #f5f5f5; }

.record-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 50px; }
  .record-container video {
    background-color: #444;
    width: 100%;
    margin-bottom: 20px; }
  .record-container button {
    color: white;
    background-color: #ff7675; }

.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px; }
  .video-detail__container button {
    float: right;
    width: 100px;
    margin-bottom: 25px; }
  .video-detail__container .video__author a {
    color: #3498db;
    font-weight: 600; }
  .video-detail__container .video__title,
  .video-detail__container .video__views,
  .video-detail__container .video__description {
    margin-bottom: 20px;
    display: block; }
  .video-detail__container .video__title {
    font-size: 25px;
    font-weight: 600; }
  .video-detail__container .video__views {
    font-size: 13px; }
  .video-detail__container .video__description {
    font-size: 18px;
    font-weight: 400; }
  .video-detail__container .video__comments {
    margin-top: 25px;
    text-align: center; }
    .video-detail__container .video__comments .video__comment-number {
      font-size: 18px; }
    .video-detail__container .video__comments .add__comment {
      margin-top: 20px; }
  .video-detail__container .video__comments-list {
    margin-top: 40px; }
    .video-detail__container .video__comments-list li {
      background-color: #3498db;
      color: white;
      padding: 10px 0;
      border-radius: 30px;
      border-bottom-left-radius: 0; }
      .video-detail__container .video__comments-list li:not(:last-child) {
        margin-bottom: 15px; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }

.user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .user-profile .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 18px;
      margin-top: 15px; }
  .user-profile .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }


/*# sourceMappingURL=main.css.map*/